html, body, #root
	height: 100%

// disables ugly blue border around clicked buttons
button:focus
	outline: 0

#root
	display: flex

#sidebar
	flex-shrink: 0
	overflow: auto
	width: 250px

#content
	flex-grow: 1
	overflow: auto
	display: flex
	// `safe` still isn't implemented in Chrome as of November, 2018, so a portion of the puzzle will be chopped off if the viewport is too small
	// it should look normal in Firefox
	align-items: safe center
	justify-content: safe center

table
	border-collapse: collapse

	&.label .num
		display: flex

.border td
	border: 1px dashed black

td
	height: 4cm
	min-width: 4cm
	padding: 0
	position: relative
	width: 4cm

	div
		position: absolute

	.num
		align-items: center
		display: none
		font-size: 1.2em
		height: 100%
		justify-content: center
		left: 0
		opacity: 0.6
		text-decoration: underline
		top: 0
		width: 100%

	.top
		text-align: center
		top: 5px
		transform: rotate(-180deg)
		width: 100%

	.right
		align-items: center
		display: flex
		height: 100%
		justify-content: center
		right: 5px
		top: 0

		& > div
			transform: rotate(-90deg)

	.bottom
		bottom: 5px
		text-align: center
		width: 100%

	.left
		align-items: center
		display: flex
		height: 100%
		justify-content: center
		left: 5px
		top: 0

		& > div
			transform: rotate(90deg)

// FIXME: temporary fix
// without this, the rendered expression is shifted to the right by 100%
.katex .base
	display: block !important

@media print
	#sidebar
		display: none
